#main{
  background-image: url(./assets/images/rainbow-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

@media screen and (max-width: 1024px){
 /* #main{

 } */
}
