#about-section{
    padding: 2% 20% 0;
}

#profile-pic{
    border-radius: 100%;
    width: 25vw;
    height: 25vw;
    object-fit:cover;
    margin: auto;
    display: flex;
    justify-content: center;
}

#about-me{
    text-align: center;
    font-family: 'Mate SC', serif;
    font-size: 4.5vw;
}

#about-section h4{
    padding: 2%;
    border-radius: 2%;
    background-color: rgb(15, 15, 15, .7);
    line-height: 1.5;
    font-family: 'Mate SC', serif;
    text-align: center;
    font-size: 1.5vw;
}

@media screen and (max-width: 1024px){
    #about-section{
        padding: 2% 2% 0;
    }

    #profile-pic{
        height: 50vw;
        width: 50vw;
        
    }

    #about-me{
        font-size: 8vw;
    }

    #about-section h4{
        font-size: 4vw;
    }
        
}