#about-section{
    padding: 2% 20% 0;
}

#profile-pic{
    border-radius: 100%;
    height: 20vw;
    width: 20vw;
    object-fit:cover;
    margin: auto;
    display: flex;
    justify-content: center;
}

#about-me{
    text-align: center;
    font-family: 'Mate SC', serif;
    font-size: 3vw;
}