#banner{
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    width: 100%;
    height: 30vh;
    top: 0;
}

#my-name{
    text-align: center;
    font-size: 5vw;
    font-family: 'Mate SC', serif;
    padding-top: 5vh;
}

#web-dev{
    font-family: 'Mate SC', serif;
    text-align: center;
}

#banner i{
    margin: 0 1%;
    color: white;
}


#icons{
    padding-left: 3%;
}