#banner{
    background-color: rgb(15, 15, 15, .7);
    color: whitesmoke;
    width: 100%;
    top: 0;
}

#my-name{
    text-align: center;
    font-size: 6vw;
    font-family: 'Mate SC', serif;
    padding-top: 5vh;
}

#web-dev{
    font-family: 'Mate SC', serif;
    text-align: center;
    font-size: 2vw;
}

#banner i{
    margin: 0 1%;
    color: white;
}


#icons{
    padding-left: 3%;
    padding-bottom: 1%;
    font-size: 2vw;
}

#linkedin:hover{
    color: rgb(10,102,194)
}

#github:hover{
    color: rgb(0,124,0);
}

#email:hover{
    color: rgb(197,34,30);
}

#resume:hover{
    color: rgb(243, 202, 126);
}