#portfolio-section{
    padding: 3% 3% 0;
}

#portfolio{
    text-align: center;
    position: relative;
    font-family: 'Mate SC', serif;
    font-size: 3vw;
}

.portfolio-card-sec{
    position: relative;
    display: flex;
    justify-content: center;
}

.cards{
    background-color: rgb(15, 15, 15, .8);
    width: 28vw;
    height: 80vh;
    border-radius: 2%;
    margin: 0 1%;
    display: flex;
    flex-direction: column;
}

.portfolio-img{
    width: 28vw;
    height: 18vw;
    border-radius: 2% 2% 0 0;
    -webkit-filter: blur(5px);;
    filter: blur(5px);
    opacity: 1;
    display: block;
    transition: .5s ease;
}

.portfolio-img:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.img-caption, .img-description{
    text-align: center;
    font-family: 'Mate SC', serif;
    padding: 1%;
}

.img-caption{
    font-size: 1.5vw;
}

.img-description{
    font-size:inherit;
}

.img-section{
    position: relative;
    display: flex;
    justify-content: center;
}

.buttons-section{
    align-self: center;
    margin-top:auto;
    padding-bottom: 2%;
}

.btns{
    width: 12vw;
    height: 5vh;
    background-color: black;
    color: white;
    border-color: white;
    font-family: 'Mate SC', serif;
}

.divider{
    width: 10px;
    display: inline-block;
}

h6{
    margin-top: auto;
    margin-bottom: auto;
    font-size: inherit;
}